@charset "utf-8";

li {
    list-style: none;
    float: left;
    padding:33px 20px;
}

.header {
    background-color:rgb(20, 146, 219);
    color: #fff;
    height: 70px;
    width: 100%;
    position:fixed;
    top :0;
    right: 0;
    left: 0;
    z-index: 9999;
  }
  
.header-logo {
    float: left;
    font-family:"Hiragino Maru Gothic ProN";
    font-size: 28px;
    padding: 15px 30px;
    letter-spacing: 3px;
  }
  
.header-list li{
    float: right;
    font-family:"Hiragino Maru Gothic ProN";
    padding: 10px 20px;
  }

.header-list li a:hover{
    color: rgb(235, 231, 17);
    text-decoration: none;
}

.jumbotron-extend {
    position: relative;
    top: 62px;
    margin: 0px;
    height: 65vh;
    min-height: 300px;
    background:url(19-05-18-13-43-46-379_photo.jpg) center no-repeat; 
    background-size: cover;
  }

.jumbotron-fluid{
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

.main {
    background-color:rgb(139, 192, 223);
    height: 600px;
    padding: 100px 80px;
  }

h2{
    font-family:"Hiragino Maru Gothic ProN";
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    letter-spacing: 3px;
  }

.under{
    border-bottom: 2px solid #ceccf3;
}

h3{
    font-family:"Hiragino Maru Gothic ProN";
  }

p{
    font-family:"Hiragino Maru Gothic ProN";
    padding: 0 0 0 25px;
  }

.contact-form{
    background-color: #ceccf3;
    padding: 20px 80px;
}

.contact-form p{
    font-size: 18px;
    padding: 0;

}

.section-title{
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

input,textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec
}

.contact-submit{
    width: 100px;
    background-color: #dee7ec;
    color: #889eab;
}

.btn:hover{
    opacity: 1;
}

.btn-wrapper{
    margin: 20px 0;
}

.fa{
    margin-right: 10px;
}